
.cards {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
}


.card-box {
  
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px; 


  width: 100%;
  margin: 10px;
}

.card-body {
  margin: 15px;
}