
.card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;


  padding: 50px;
  margin: 10px;
  width: 20%;
}

.card-body {
  
}